.App {
  text-align: center;
}

body{
  background-color: #fce9e0 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list-group-item:hover{
  background-color: #d4d8df !important;
}

.container{

}

.is-done{
  text-decoration: line-through !important;
}

.but{
  height: 2.1rem !important;
  line-height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
} 
.but i{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}


.todo-item{
  margin-bottom: .6rem !important;
  padding-top: 0px !important;
  padding-bottom: 0 !important;
  width: 100% !important;
  cursor: pointer !important;
  background-color: lightblue !important;
  height: 2.2rem !important;
}

h1{
  color: rgb(113, 181, 204) !important;
}

.todo-item span{
  padding-top: .2rem !important;
}